<div class="top-bar navbar-fixed-top tophead">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="top-number"><p>Technical Help - +91-8792462607 </p></div>
            </div>	
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-right">
               <div class="top-number"><p>
			   <a href="javascript:void(0)" (click)="logout()">Welcome,  {{name}} - Logout</a>
			   </p></div>
            </div>
        </div>
    </div><!--/.container-->
</div>
<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-top:40px;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Admin SBIC-UP</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
   
        <ul class="nav navbar-nav navbar-right">
		<li><a routerLink="dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
         
		  
		  <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-plus"></i>  Admission <span class="caret"></span></a>
              <ul class="dropdown-menu">
               <li><a routerLink="admission/new-admission"><i class="fa fa-user-plus"></i> New Admission</a></li>
                <li><a routerLink="admission/admission-list"> <i class="fa fa-table"></i>  Admission List</a></li>
              </ul>
            </li>
          
		    <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-suitcase"></i> Fee Payment <span class="caret"></span></a>
              <ul class="dropdown-menu">
               <li><a routerLink="fee-collection"><i class="fa fa-plus"></i>  New Fee Payment</a></li>
                <li><a routerLink="totay-payment"> <i class="fa fa-table"></i>  Today Payment List</a></li>
              </ul>
            </li>
			  <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bus"></i> Transport <span class="caret"></span></a>
              <ul class="dropdown-menu">
               <li><a routerLink="transport"><i class="fa fa-bus"></i> Manage Transport</a></li>
                <li><a routerLink="transport-user"> <i class="fa fa-table"></i> Transport Users</a></li>
              </ul>
            </li>
		  
          <li><a routerLink="examination"><i class="fa fa-edit"></i> Exam</a></li>
          <li><a routerLink="activity"><i class="fa fa-star"></i> Activity</a></li>
          
  
          <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cogs"></i> Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                 <li><a routerLink="employee"><i class="fa fa-users"></i> Employee</a></li>
                 <li><a routerLink="finance"><i class="fa fa-landmark"></i> Finance</a></li>
              </ul>
           </li>
		   <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i> Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                 <li><a href="javascript:void(0)">Welcome,  {{name}}</a></li>
                  <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
              </ul>
           </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>