<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        Manage Examination
      </h3>
    </div>
    <div class="row">
      <div class="col-md-2">
        <i>
          Class Name
        </i>
        <select class="form-control" [(ngModel)]="classid">
          <option value="">Choose Class</option>
          <option *ngFor="let row of class" value="{{ row.classid }}">{{
            row.classname
          }}</option>
        </select>
      </div>
      <div class="col-md-2">
        <i>
          Exam Type
        </i>
        <select class="form-control" [(ngModel)]="type">
          <option value="">Choose </option>
          <option value="weekly">Weekly </option>
          <option value="Monthly">Monthly </option>
          <option value="Quaterly">Quaterly </option>
          <option value="Mid-Term">Mid Term </option>
          <option value="Annual">Annual </option>
        </select>
      </div>
      <div class="col-md-2">
        <i>Starting Date</i>
        <input type="date" class="form-control" [(ngModel)]="fromdate" />
      </div>
      <div class="col-md-2">
        <i>Exam Fee</i>
        <input type="number" class="form-control" [(ngModel)]="fee" />
      </div>

      <div class="col-md-2">
        <br />
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <caption>
            <h3>Examination List</h3>
          </caption>
          <thead class="text-danger">
            <tr>
              <th>Examid</th>
              <th>Class</th>
              <th>Exam Type</th>
              <th>From Date</th>
              <th>Fee</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of examlist">
              <td>{{ row.examid }}</td>
              <td>{{ row.classname }}</td>
              <td>{{ row.type }}</td>
              <td>{{ row.fromdate }}</td>
              <td>{{ row.fee }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
