<div class="container">
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <h2 class="text-info"> Dashboard </h2>
        </div>
    </div>

    <div class="row text-center mydash">
        <div class="col-md-3 form-group">
            <a routerLink="../admission/new-admission">
                <div class="dashicon red">
                    <i class="fa fa-user-plus fa-3x"></i>
                    <h3>Admission</h3>
                </div>
            </a>
        </div>

        <div class="col-md-3 form-group">
            <a routerLink="../fee-collection">
                <div class="dashicon blue">
                    <i class="fa fa-inr fa-3x"></i>
                    <h3>Payment</h3>
                </div>
            </a>
        </div>

        <div class="col-md-3 form-group">
            <a routerLink="../examination">
                <div class="dashicon green">
                    <i class="fa fa-graduation-cap fa-3x"></i>
                    <h3>Examination</h3>
                </div>
            </a>
        </div>

        <div class="col-md-3 form-group">
            <a routerLink="../activity">
                <div class="dashicon maroon">
                    <i class="fa fa-trophy fa-3x"></i>
                    <h3>Activity</h3>
                </div>
            </a>
        </div>
        <div class="col-md-3 form-group">
            <a routerLink="../transport">
                <div class="dashicon oarnge">
                    <i class="fa fa-bus fa-3x"></i>
                    <h3>Transport</h3>
                </div>
            </a>
        </div>
        <div class="col-md-3 form-group">
            <a routerLink="../employee">
                <div class="dashicon skyblue">
                    <i class="fa fa-users fa-3x"></i>
                    <h3>Employee</h3>
                </div>
            </a>
        </div>
        <div class="col-md-3 form-group">
            <a routerLink="../finance">
                <div class="dashicon darkblue">
                    <i class="fa fa-suitcase fa-3x"></i>
                    <h3>Finance</h3>
                </div>
            </a>
        </div>
        <div class="col-md-3 form-group">
            <a routerLink="../settings">
                <div class="dashicon red">
                    <i class="fa fa-cogs fa-3x"></i>
                    <h3>App Settings</h3>
                </div>
            </a>
        </div>
    </div>
</div>